* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

/* Navbar */
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;

}

.nav-links a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background-color: white;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    background-size: cover;
    padding: 100px 0;
}

/* .hero h2 {
    font-size: 2.5rem;
} */

.hero .btn {
    margin-top: 20px;
}

/* Features */
.feature-box {
    padding: 20px;
    background-color: white;
}

.feature-box i {
    display: block;
    margin-bottom: 10px;
}

/* Detection Section */
.detection-section {
    background-color: #f8f9fa;
    padding: 60px 20px;
}

.detection-images img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background: #222;
    color: #ddd;
    padding: 20px 0;
}

.footer p {
    margin: 5px 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
