<html>
    <body>
        <h1 style="font-size:28px;text-align:center">Welcome to <span style="color:#3d40c7">Nazar AI</span>!</h1>
        <p style="text-align:center;">Where AI helps with security and smart detection!</p>
        <hr>
        <p>Hello,</p>
        <p>Thank you for signing up to join our Nazar AI community. We are excited to have you onboard!</p>
        <p>Nazar AI is designed to enhance security and provide smart solutions through object detection, motion sensing, and facial recognition. Our platform helps in detecting various objects and faces, keeping you informed and safe.</p>
        <p>With Nazar AI, you can be sure that you will get alerts in real-time about objects or motion detected in your surroundings. You will also be able to access live feeds and images for analysis and further action.</p>
        <hr>
        <h3>Login to Your Account</h3>
        <p>Click the button below to log in to your account using your email and password.</p>
        <a href="http://127.0.0.1:8000/login">
            <button style="padding:12px 35px;font-size:20px;background-color:#3d40c7;color:white;border:1px solid #3d40c7;">Login</button>
        </a>
        <hr>
        <h4>Get Support</h4>
        <p>Need help getting started or have questions about our platform? Check out our <a href="http://127.0.0.1:8000/help">Help</a> page for answers to common questions and issues!</p>
        <p>If you need further assistance, feel free to <a href="http://127.0.0.1:8000/contact">Contact </a> us.</p>
        <p>Warm regards,<br><strong>The Nazar AI Team</strong></p>
        <p style="text-align:center;">&copy; Nazar AI 2025</p>
    </body>
</html>
